{% extends 'nav.html' %}
{% load static %}
{% block content %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilosIndex.css' %}" />
</head>

<h1>Aqui se muestran las asignaciones</h1>

<body class="index">
    

<table border="1" class="table table-success table-striped">
        <th>ID Asignacion</th>
        <th>Asignatura</th>
        <th>Semestre</th>
        <th>Aula</th>
        <th>Horario</th>
    </tr>
    {% for asignacion in asignaciones %}
    <tr>
        <td>{{ asignacion.id_asignacion }}</td>
        <td>{{ asignacion.nombre_asignatura.materia }}</td>
        <td>{{ asignacion.nombre_asignatura.materia.semestre }}
        <td>{{ asignacion.id_aula.id_aula }}</td>
        <td>{{ asignacion.nombre_asignatura.dia }} {{ asignacion.nombre_asignatura.hora_inicio }} - {{ asignacion.nombre_asignatura.hora_fin }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
</body>