     /* Estilos para el contenedor del menú de navegación */
     nav {
        background-color:darkslateblue   ;
        overflow: hidden;
      }

      /* Estilos para los enlaces del menú de navegación */
nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        list-style: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: larger;

      }

      /* Estilos para el efecto hover en los enlaces */
nav a:hover {
        background-color: #ddd;
        color: black;
      }

      /* Estilos para el menú en dispositivos móviles */
@media screen and (max-width: 600px) {
        nav a {
          float: none;
          width: 100%;
        }
      }