/* styles.css */

/* Estilos para la barra de navegación con transparencia */
.navbar.bg-primary {
  background-color: rgba(0, 123, 255, 0.8) ; /* Cambia el último valor para ajustar la transparencia */
}

/* Opcional: ajusta los enlaces para que sean más visibles en un fondo semitransparente */
.navbar .nav-link {
  color: #fff;
}
.navbar .nav-link:hover {
  color: #ddd;
}
